@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  padding: 0px;
  margin: 0px;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.purple-box {
  background: linear-gradient(180deg, #6642fc 0%, #312bea 100%);
  max-width: 340px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2.25rem;
  gap: 1rem;
  color: white;
  text-align: center;
  min-height: 450px;
  border-radius: 30px;
}

.white-box {
  background-color: rgba(255, 255, 255, 1);
  max-width: 340px;
  width: 100%;
  min-height: 450px;
  padding: 2.25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.little-box {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 10px;
}

.little-box__sub-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  font-weight: 500;
}

.red-text {
  color: #e97c7b;
}
.yellow-text {
  color: #edc160;
}
.green-text {
  color: #49c3a0;
}
.blue-text {
  color: #242b7c;
}
.red {
  background-color: rgba(233, 124, 123, 0.1);
}
.yellow {
  background-color: rgba(237, 193, 96, 0.1);
}
.green {
  background-color: rgba(73, 195, 160, 0.1);
}
.blue {
  background-color: rgba(36, 43, 124, 0.1);
}

.btn {
  background: #2f3b5a;
  padding: 14px 40px;
  width: 100%;
  border: none;
  outline: none;
  color: white;
  font-size: large;
  border-radius: 9999px;
}

.score__container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  background: linear-gradient(180deg, #4b20c7 0%, #4633ed 100%);
  width: 12rem;
  height: 12rem;
  flex-direction: column;
}

.score {
  font-size: 4rem;
  font-weight: 900;
}

.out-of {
  opacity: 0.7;
}

.your_result {
  font-size: 1.25rem;
  font-weight: 500;
  opacity: 0.7;
}

.secondary-text {
  font-size: 1.75rem;
  font-weight: 700;
}

.tertiary-text {
  padding: 0 1.25rem;
  opacity: 0.7;
}

.icons {
  width: 20px;
  height: 20px;
}

.rating__divider {
  color: gray;
}

.rating__total-number {
  color: gray;
}
.summary {
  font-weight: 700;
  color: rgb(50, 50, 60);
  font-size: 1.25rem;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}